@media only screen and (min-width: 1026px) {
    * {
        font-family: 'Stardos Stencil', cursive;
        margin: 0 auto;
        padding: 0 auto;
        scroll-behavior: smooth;

    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        overflow-x: hidden;
        transition: 0.5s;

        padding-top: 10vh;
    }

    .sidenav a {
        padding: 1vw;
        padding-top: 3vh;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

    .sidenav a img {
        height: 120px;
    }


    .sidenav .hover:hover {
        color: snow;
        background-color: black;
        border-bottom: snow 1px solid;
    }


    .sidenav .kruisje {
        position: absolute;
        top: 0;
        padding: 1vw;
        margin-left: -5vw;
        font-size: 40px;
        padding-left: 18vw;
        padding-right: 25vw;
        background-color: black;
        border-bottom: 1px solid snow;

    }

    .sidenavm {
        display: none;
    }

    #desktop {
        z-index: 9999;
        position: fixed;
        padding-top: 2vh;
        text-align: center;
        cursor: pointer;
        font-size: 30px;
        color: black;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-bottom: 1vh;
    }

    #mobiel {
        display: none;
    }


    body {
        background-color: wheat;
    }

    #logo img {
        width: 62vw;
    }
    .animated{
        animation: fade .3s cubic-bezier(0,1.07,.72,1.42);
    }

    @keyframes fade {
        from{
            opacity: 0;
            transform: scale3d(.75, .75, 1);
        }
        to {
            opacity: 1;
            transform: scale3d(1,1,1);
        }
    }

    #logo {
        font-size: 26px;
        text-align: center;
    }
    h2{
        margin-top: 8vh;
        text-align: center;
        font-size: 42px;
    }
    #slider{
        width: 90vw;
        display: flex;
        border-radius: 10px;
        margin-bottom: 3vh;

    }
    #pastry{
        display: flex;
    }
    #pastry img {
        width: 30vw;
        margin-bottom: 5vw;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        padding: 1vw;
        background: rgba(0, 0, 0, 0.5);
        font-size: 32px;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #slider2{
        width: 70vw;
        height: 70vh;
        display: flex;
        border-radius: 10px;
        margin-bottom: 3vh;

    }
    .tablet2 {
        display: none;
    }
    #tablet3 {
        display: none;
    }
    .bonbon {
        width: 90vw;
        display: flex;
        margin-bottom: 10vh;
    }
    #contact{
    text-align: center;
    }
    #googleMap {
        width:100%;
        height:500px;
    }
    table {
        border-collapse: collapse;
        font-size: 32px;
    }

    td {
        text-align: left;
        padding: 8px;
    }
    th {
        font-size: 32px;

    }

    footer{
        display: flex;
        flex-direction: row;
    }
    #time {
        display: grid;

    }
    footer{
        justify-content: space-between;
    }
    footer img {
        height: 20vh;

    }
    h3 {
        text-align: center;
    }

}
@media only screen and (min-width: 601px) and (max-width: 1025px){
    * {
        font-family: 'Stardos Stencil', cursive;
        margin: 0 auto;
        padding: 0 auto;
    }
    #desktop {
        display: none;
    }
    .sidenav {
        display: none
    }

    .sidenavm {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10vh;
    }

    .sidenavm a {
        width: 100%;
        padding: 1vw;
        padding-top: 5vh;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.5s;
        text-align: center;
    }

    .sidenavm .hover:hover {
        color: snow;
        background-color: black;
        border-bottom: snow 1px solid;
    }

    span {
        margin-left: 3vw;
        text-align: center;
        font-size: 60px;
        color: black;
        position: fixed;
        z-index: 9999;
    }
    #logo img{
        width: 95vw;
    }
    #logo {
        text-align: center;
        font-size: 32px;
        margin-bottom: 5vh;
    }
    body {
        background-color: wheat;
    }
    h2{
        margin-top: 2vh;
        text-align: center;
        font-size: 50px;
    }
    #pastry {
        display: grid;
        grid-template-columns: 50vw 50vw;

    }
    #pastry img {
        width: 40vw;
        margin-bottom: 5vh;
    }
    .tablet {
        display: none;
    }

    .bonbon {
        width: 100vw;
        margin-bottom: 5vh;
    }
    #slider{
        width: 95vw;
        display: flex;
        border-radius: 10px;
        margin-bottom: 3vh;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        padding: 1vw;
        background: rgba(0, 0, 0, 0.5);
        font-size: 28px;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #googleMap {
        width:100%;
        height:300px;

    }
    #contact{
        text-align: center;
    }
    table {
        border-collapse: collapse;
        font-size: 32px;
    }

    td {
        text-align: left;
        padding: 8px;
    }


    footer{
        display: flex;
        flex-direction: row;
    }
    #time {
        display: grid;

    }
    footer{
        justify-content: space-between;
    }
    footer img {
        height: 10vh;

    }
    h3 {
        text-align: center;
    }

}
@media only screen and (max-width: 600px) {
    * {
        font-family: 'Stardos Stencil', cursive;
        margin: 0 auto;
        padding: 0 auto;
    }

    .sidenav {
        display: none
    }

    .sidenavm {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10vh;
    }

    .sidenavm a {
        width: 100%;
        padding: 1vw;
        padding-top: 5vh;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.5s;
        text-align: center;
    }

    .sidenavm .hover:hover {
        color: snow;
        background-color: black;
        border-bottom: snow 1px solid;
    }

    span {
        text-align: center;
        font-size: 40px;
        color: black;
        position: fixed;
        z-index: 9999;
        margin-left: 3vw;

    }
    body {
        background-color: wheat;
    }
    #logo img {
        width: 95vw;
    }
    #logo {
        text-align: center;
        font-size: 22px;
        margin-bottom: 5vh;
    }
    h2{
        margin-top: 2vh;
        text-align: center;
        font-size: 42px;
    }

    #desktop {
        display: none
    }

    #pastry {
             display: grid;
         }
    #pastry img {
        height: 45vh;
        margin-bottom: 5vh;
    }
    .bonbon {
        height: 20vh;
        width: 100vw;
        margin-bottom: 5vh;
    }
    .tablet2 {
        display: none;
    }
    #tablet3 {
        display: none;
    }

    #slider {
        display: none;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        padding: 1vw;
        background: rgba(0, 0, 0, 0.5);
        font-size: 32px;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #googleMap {
        width:100%;
        height:300px;

    }
    #contact{
        text-align: center;
    }
    table {
        border-collapse: collapse;
        font-size: 20px;
    }

    td {
        text-align: left;
        padding: 8px;
    }


    footer{
        display: flex;
        flex-direction: row;
    }
    #time {
        display: grid;

    }
    footer{
        justify-content: space-between;
    }
    footer img {
        height: 10vh;

    }
    h3 {
        text-align: center;
    }
}


